<html>
<body>
  <div class="mainBackground">
    <div>
      <h1>Bob's sweet images Site</h1>
    </div>
    <div>
      <h2>Click on your favorite animal:</h2>
    </div>
    <div>
      <mat-card *ngFor="let image of images; let i = index"
                class="picture"
                tabindex="{{i + 2}}"
                (click)="chooseImage(image)"
                (keyup.enter)="chooseImage(image)">
          <img src="../assets/images/{{image}}.png">
      </mat-card>
    </div>
  </div>
</body>
</html>
