<div class="mainBackground">
    <div>
      <h1>Bob's Sweet Images Site</h1>
    </div>
    <div>
      <h2>Click on your favorite animal:</h2>
    </div>
    <div class="images">
      <mat-card *ngFor="let image of images; let i = index"
                class="image"
                tabindex="{{i + 2}}"
                (click)="selectImage('../assets/images/' + image + '.png')">
          <img src="../assets/images/{{image}}.png" alt="image of {{image}}">
      </mat-card>
    </div>
    <div id="selected" *ngIf="selectedImage">
      <h2>Your favorite animal is:</h2>
      <div id="favorite">
        <mat-card>
          <mat-card-content>
            <img src="{{selectedImage}}" class="selectedImage" alt="selected image">
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="commentsDiv">
      <h2><label for="comment">Please write a nice comment here</label></h2>
        <input type="text" id="comment" ref-comment/>
        <mat-card id="addComment" class="addComment" (click)="addComment(comment)">Add Comment</mat-card>
        <h2>Read all comments</h2>
        <div id="comments" readonly>
          <div *ngFor="let comment of comments">{{comment}}<br/></div>
        </div>
    </div>
    <div id="encoding">
      <mat-card id="urlEncoder" class="addEncodedComment" (click)="addCommentWithUrlEncoder(comment)">URL Encoder</mat-card>
      <mat-card id="hexEncoder" class="addEncodedComment" (click)="addCommentWithUrlEncoder2(comment)">Hex Encoder</mat-card>
    </div>
  </div>
