<html>
<body>
  <div class="mainBackground">
    <div>
      <h1>Bob's Sweet Images Site</h1>
    </div>
    <div>
      <h2>Click on your favorite animal:</h2>
    </div>
    <div class="images">
      <mat-card *ngFor="let image of images; let i = index"
                class="image"
                tabindex="{{i + 2}}"
                (click)="selectImage('../assets/images/' + image + '.png')">
          <img src="../assets/images/{{image}}.png">
      </mat-card>
    </div>
  </div>
  <div id="selected" *ngIf="selectedImage">
    <h2>Your favorite animal is:</h2>
    <div id="favorite">
      <mat-card>
        <mat-card-content>
          <img src="{{selectedImage}}" class="selectedImage">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="commentsDiv">
      <h2>Please write a nice comment here</h2>
      <input type="text" formControlName="comment" id="comment" ref-comment/>
      <mat-card id="addComment" class="addComment" (click)="addComment(comment)">Add Comment</mat-card>
      <h2>Read all comments</h2>
      <div id="comments" readonly>{{commentsValue}}<script>alert(1)</script></div>
  </div>
</body>
</html>
